/* Spartan font */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* 
====================================
            Variables
====================================
*/
:root{
    --heading-color: #222;
    --paragraph-color: #465b52;
    --grey:#707e7b;
    --brown-olive: #8a6532;
    --soft-teal: #c5dadd;
    --deep-brown: #634028;
    --charcoal-gray: #2e3639;
    --slate-gray: #707e7b;
    --rose-pink: #efa0ac;
    --warm-tan: #be8f6e;
    --dark-chocolate: #3a1c10;
    --salmon-pink: #df7d74;
    --peach-cream: #efcdbe;
}


/* 
====================================
        Global styles
====================================
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;

}

h1{
    font-size: 3.125rem;
    line-height: 4rem;
    color: var(--heading-color);
}
h2{
    font-size: 2.875rem;
    line-height: 3.375rem;
    color: var(--heading-color);
}
h4{
    font-size: 1.125rem;
    color: var(--heading-color);
}
h6{
    font-weight: 700;
    font-size: 0.75rem;
}
p{
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--paragraph-color);
}

.section-p1{
    padding: 2.5rem 5rem;
}
.section-m1{
    margin: 2.5rem 0;
}
body{
    width: 100%;
}

/* 
====================================
        Header section styles
====================================
*/

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 5rem;
    background-color: var(--primary-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    background-color: var(--rose-pink);
}
.header-content img{
    display: block;
    width: 70px;
    height: 70px;
}
#nav-list{
    display: flex;
    gap: 2rem;
    list-style: none;

}
#nav-list li{
    font-size: 1.125rem;
    color: var(--heading-color);
    cursor: pointer;
    
}
#nav-list li a{
    text-decoration: none;
    color: var(--slate-gray);
    transition: all 0.3s ease;
}
#nav-list li a:hover{
    color: var(--heading-color);
    text-decoration: underline;
    
    
}